{% extends "base.html" %}

<div id="fh5co-about">
    <div class="container">
        <div class="col-md-6 animate-box">
            <span>About Our University</span>
            <h2>Welcome to Education Website</h2>
            <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
            <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed.</p>
            <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="images/img_bg_2.jpg" alt="Free HTML5 Bootstrap Template">
        </div>
    </div>
</div>